body {
    background-color: black;
}
#canvasContainer {
   width: 100%;
   text-align: center;
}
canvas {
    background-color: rgb(44, 44, 44);
    display: inline;
    border: 5px solid white;
}